<div class='col-md-6 col-xl-4 col-xxl-3'>
  <div class='card card-body card-tile bg-light shadow-sm'>
    <a
      href='/space/{{space_id}}/idea/{{id}}'
      class='overlay-hover inner-down-hover bg-primary text-white shadow'
      style='--bs-bg-opacity: 0.85'
    >
      <span class='d-block px-4 py-3 fs-4 fw-bold text-center'>
        <span>
          Check out this<br /></span>
        <span class='fw-normal fs-5'>Idea</span>
      </span>
    </a>

    {{! </a> }}
    <p
      class='m-0 overlay-hover--hide inner-down-hover--also fs-4 d-block text-center text-wrap'
    >
      <span class='badge text-wrap fs-5 bg-primary'>
        {{name}}
      </span>

      {{#if (is_match id approvedInterest.idea_id)}}
        <span class='d-block mt-2'>Collaborator</span>
      {{/if}}
    </p>
    <div class="position-absolute bottom-0 start-50 translate-middle-x" style="z-index:100">
      <button
        class='mb-3 btn btn-success like vote-{{is_liked
            upvoter
            logged_in_user_id
          }}'
        value='{{id}}'
      >{{upvoter.length}} Likes</button>
    </div>
  </div>
</div>