{{#if (is_approved status)}}
<div class='card card-body my-3'>
{{else}}
<div class='card card-body my-3 bg-danger'>
{{/if}}
  <div class='row g-3 align-items-center'>
    <div class='col'>
      <h3 class='fs-4 m-0'>
        {{#if (is_approved status)}}
        <a class='text-decoration-none' href='/space/{{space.id}}'>
        {{/if}}
          {{space.name}}
        {{#if (is_approved status)}}
        </a>
        {{/if}}
        </h3>
      {{#if (is_approved status)}}
      {{else}}
        (status: {{status}})
      {{/if}}
    </div>
  </div>
</div>