
<div id="ideas" class="row g-3 align-items-center">
    <div class="col">
        <h3 class="fs-4 m-0">{{idea.name}}</h3>
    </div>
    <div class="col-auto">
        <button class='btn btn-primary'>Like</button>
    </div>
    <div class="col-auto">
        <button class='btn btn-secondary interest-{{is_interested idea.interests user_id}}' value="{{idea.id}}">{{idea.interests.length}} Interested</button>
    </div>
</div>

<br>
<br>
Creator: {{idea.user_id}}
<br>
Pitch: {{idea.pitch}}
<hr>
{{#each comments}}
<br>
{{> comment }}
<br>
{{/each}}

<script src="/js/interest.js"></script>