<div class="card card-body bg-secondary border-0 mb-3" style="--bs-bg-opacity: 0.2">
    <div class="d-md-flex justify-content-between align-items-center">
        <div>
            <h3>Love the idea?</h3>
            <p class="mb-3 mb-md-0">Help make it a reality, by joining the collaborators</p>
        </div>
        <div>
            <button class= 'btn btn-primary mt-2 px-5 py-4 w-100' data-bs-toggle="modal" data-bs-target="#add-interest-modal">Become a collaborator</button>
        </div> 
    </div>
</div>

<div id="ideas" class="card">
    <div class=" bg-primary text-white"> 
        <h3 class='card-header justify-content-start py-3 '>
            {{idea.name}}<br>
            <button class='btn btn-light mt-2'>Like</button>
        </h3>
    </div>
    
    <div class="card-body">
        <h5>Created by:</h5>
        <p>{{user.name}}</p>
        <h5>Last updated:</h5>
        <p>{{format_date idea.updatedAt}}</p>
        <h5>Elevator Pitch:</h5>
        <p class="card-text">{{idea.pitch}}</p>

        {{#if idea.members}}
        <h5>Members requested:</h5>
        <p>{{idea.members}}</p>
        {{/if}}

        {{#if idea.skills}}
        <h5>Skills or Roles specific to this idea:</h5>
        <p>{{idea.skills}}</p>
        {{/if}}
    </div>
</div>

{{#if resources.length}}
    <div class=" bg-primary text-white my-4">
        <h3 class='card-header justify-content-start'>Resources</h3>
    </div>
    {{!-- Sample card data inserted for aesthetics. No resource table available at this time --}}
    <div class="row gy-4">
        <div class="col-md-6 col-xl-4 col-xxl-3">
            <div class="card card-body card-tile bg-light shadow-sm">
                <a href="/space/{{idea.space_id}}/idea/{{idea.id}}/resource/create" class="overlay-hover inner-down-hover bg-success text-white shadow" style="--bs-bg-opacity: 0.85">
                    <span class="d-block px-4 py-3 fs-4 fw-bold text-center">
                        <span></span>
                        Create a New<br/>
                        <span class="fw-normal fs-5">Resource</span>
                    </span>
                </a>
                <p class="m-0 overlay-hover--hide inner-down-hover--also fs-4 d-block text-center">
                    <span class="badge fs-5 bg-success bi-plus-circle"> Add New</span>
                    <span class="d-block mt-2">
                        Resource
                    </span>
                </p>
            </div>
        </div>
        {{#each resources}}
        <div class="col-md-6 col-xl-4 col-xxl-3">
            <div class="card card-body card-tile bg-light shadow-sm">
                <a href="/space/{{../idea.space_id}}/idea/{{../idea.id}}/resource/{{id}}" class="overlay-hover inner-down-hover bg-primary text-white shadow" style="--bs-bg-opacity: 0.85">
                    <span class="d-block px-4 py-3 fs-4 fw-bold text-center">
                        View Resource<br/>
                        <span class="fw-normal fs-5">{{name}}</span>
                    </span>
                </a>
                <p class="m-0 overlay-hover--hide inner-down-hover--also fs-4 d-block text-center">
                    <span class="badge fs-5 bg-primary">{{type}}</span>
                    <span class="d-block mt-2">
                        {{name}}
                    </span>
                </p>
            </div>
        </div>
        {{/each}}
    </div>
    </section>
 {{/if}}

<div class="mt-4 bg-primary text-white"> 
    <h3 class="card-header justify-content-start">Comments</h3>
</div>
{{!-- Awaiting comment styling and functionality from pr#50 --}}
{{#each comments}}
<br>
{{> comment }}
{{/each}}
<br>

<div class="card">
    <div class="card-body">
        <form> 
            <div class="form-group">
                <div class="card-title">
                    <label for="addComment">Add a comment:</label>
                </div>
                <input type="text" class="form-control" id="addComment" placeholder="Add your thoughts to the conversation">
                <br>
                <button type="submit" id="form-add-comment" class="btn btn-primary" data-idea-id={{idea.id}}>Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="add-interest-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        {{#if (is_prop_in idea.interested_users user_id)}}
        <div class="modal-header">
            <h5 class="modal-title">Change of mind?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
         <div class="modal-body">
            <p class="m-0">No problem! You can remove your interest to contribute by using the button below.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Remove Interest</button>
        </div>
        {{else}}
        <form id="add-interest-form">
            <div class="modal-header">
                <h5 class="modal-title">Let's do this!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="interest-details" class="form-label">Why and how would you like to contribute?</label>
                    <textarea class="form-control" id="interest-details" placeholder="I'd love to help to help guiding front end development!" style="min-height:120px"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        {{/if}}
    </div>
  </div>
</div>

<script src="/js/addComment.js"></script>
<script src="/js/interest.js"></script>