<div id="ideas" class="card">
    <div class=" bg-primary text-white"> 
        <h3 class='card-header justify-content-start py-3 '>{{idea.name}} <br>
        <button class='btn btn-light mt-2 vote -'>Like</button>
        <button class= 'btn btn-secondary mt-2 interest-{{is_interested idea.interested_users user_id}}' value="{{idea.id}}">{{idea.interested_users.length}} Interested</button>
        </h3>
    </div>
    
    <div class="card-body">
        <h5>Created by:</h5>
        <p>{{user.name}}</p>
        <h5>Last updated:</h5>
        <p>{{format_date idea.updatedAt}}</p>
        <h5>Elevator Pitch:</h5>
        <p class="card-text">{{idea.pitch}}</p>

        {{#if idea.members}}
        <h5>Members requested:</h5>
        <p>{{idea.members}}</p>
        {{/if}}

        {{#if idea.skills}}
        <h5>Skills or Roles specific to this idea:</h5>
        <p>{{idea.skills}}</p>
        {{/if}}
    </div>

{{!-- {{#if resources}} --}}
    <div class=" bg-primary text-white "> 
        <h3 class='card-header justify-content-start'>Resources </h3>
    </div>
    {{!-- Sample card data inserted for aesthetics. No resource table available at this time --}}
        <section title='resources' class="row row-cols-1 row-cols-md-3 g-4 border-0">
        <div class="col ">
            <div class="card h-100">
             <img src="/assets/Elevator-Pitch.PNG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Image Title</h5>
                <p class="card-text">Notes</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="https://github.com/jmichaelbrown8/elevator-pitch">Figma Link</a></small>
            </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100">
            <img src="/assets/Elevator-Pitch.PNG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Image Title</h5>
                <p class="card-text">Notes</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="https://github.com/jmichaelbrown8/elevator-pitch">Different Link</a></small>
            </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100">
            <img src="/assets/Elevator-Pitch.PNG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Image Title</h5>
                <p class="card-text">Notes</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="https://github.com/jmichaelbrown8/elevator-pitch">GitHub Link</a></small>
            </div>
            </div>
        </div>
    </section>
 {{!-- {{/if}} --}}
</div>

<div class="mt-4 bg-primary text-white"> 
    <h3 class="card-header justify-content-start">Comments</h3>
</div>
{{!-- Awaiting comment styling and functionality from pr#50 --}}
{{#each comments}}
<br>
{{> comment }}
{{/each}}
<br>

<div class="card">
    <div class="card-body">
        <form> 
            <div class="form-group">
                <div class="card-title">
                    <label for="addComment">Add a comment:</label>
                </div>
                <input type="text" class="form-control" id="addComment" placeholder="Add your thoughts to the conversation">
                <br>
                <button type="submit" id="form-add-comment" class="btn btn-primary" data-idea-id={{idea.id}}>Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/addComment.js"></script>
<script src="/js/interest.js"></script>