{{#if can_join}}
    {{#if idea.myInterest}}
        {{> notifications/userInterestRequest myInterest=idea.myInterest }}
    {{/if}}
{{/if}}
{{#if is_member}}
<div class="card card-body bg-secondary border-0 mb-4 p-4" style="--bs-bg-opacity: 0.2">
    <h3>You're collaborating on this idea</h3>
    <p class="mb-3 mb-md-0">
        You can see who you're working with by clicking the <strong>View Members</strong> button below, or head further down the page to add additional <strong>Resources</strong>.
    </p>
</div>
{{/if}}

<div id="ideas" class="card">
    <div class=" bg-primary text-white">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class='card-header justify-content-start py-3 '>
                {{idea.name}}<br>
                <button class='btn btn-light mt-2 like vote-{{is_liked idea.upvoter user_id}}' value="{{idea.id}}">{{idea.upvoter.length}} Like</button>
            </h3>
            <div class="p-3">
                {{#if is_member}}
                <button class= 'btn bg-white text-primary px-5 py-4 w-100' data-bs-toggle="modal" data-bs-target="#manage-interest-modal">
                    {{#if is_owner}}
                        Manage
                    {{else}}
                        View
                    {{/if}}
                    Members
                </button>
                {{else}}
                    {{#if can_join}}
                        {{#if idea.myInterest}}
                            {{#if (is_prop_match idea.myInterest "status" "pending")}}
                                <button class= 'btn bg-white text-primary px-5 py-4 w-100' data-bs-toggle="modal" data-bs-target="#add-interest-modal">Request Pending</button>
                            {{else}}
                                <button class= 'btn bg-white text-primary px-5 py-4 w-100' data-bs-toggle="modal" data-bs-target="#add-interest-modal" data-type="resend">Resubmit Request</button>
                            {{/if}}
                        {{else}}
                            <button class= 'btn bg-white text-primary px-5 py-4 w-100' data-bs-toggle="modal" data-bs-target="#add-interest-modal">Collaborate<br/><span style="font-size:.8em">({{spots_left}} spaces left)</span></button>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <h5>Created by:</h5>
        <p>{{idea.creator.name}}</p>
        <h5>Last updated:</h5>
        <p>{{format_date idea.updatedAt}}</p>
        <h5>Elevator Pitch:</h5>
        <p class="card-text">{{{format_markdown idea.pitch}}}</p>

        {{#if idea.members}}
        <h5>Members requested:</h5>
        <p>{{idea.members}}</p>
        {{/if}}

        {{#if idea.skills}}
        <h5>Skills or Roles specific to this idea:</h5>
        <p>{{idea.skills}}</p>
        {{/if}}
    </div>
</div>
{{#if can_join}}
{{#unless idea.myInterest}}
<div class="card card-body bg-secondary border-0 my-4" style="--bs-bg-opacity: 0.2">
    <div class="d-md-flex justify-content-between align-items-center">
        <div>
            <h3>Love the idea?</h3>
            <p class="mb-3 mb-md-0">Help make it a reality, by joining the collaborators</p>
        </div>
        <div>
            <button class= 'btn btn-primary mt-2 px-5 py-4 w-100' data-bs-toggle="modal" data-bs-target="#add-interest-modal">Become a collaborator</button>
        </div> 
    </div>
</div>
{{/unless}}
{{/if}}

<div>
    <div class=" bg-primary text-white my-4">
        <h3 class='card-header justify-content-start'>Resources</h3>
    </div>
   
    <div class="row gy-4">
        <div class="col-md-6 col-xl-4 col-xxl-3">
            <div class="card card-body card-tile bg-light shadow-sm" data-bs-toggle="modal" data-bs-target="#resource-modal" >
          
                <a class="overlay-hover inner-down-hover bg-success text-white shadow"  style="--bs-bg-opacity: 0.85">
                    <span class="d-block px-4 py-3 fs-4 fw-bold text-center" >
                        <span>
                        Create a New<br/></span>
                        <span class="fw-normal fs-5">Resource</span>
                    </span>
                </a>
                {{!-- </a> --}}
                <p class="m-0 overlay-hover--hide inner-down-hover--also fs-4 d-block text-center" data-bs-toggle="modal" data-bs-target="#resource-modal" >
                    <span class="badge fs-5 bg-success bi-plus-circle"> Add New</span>
                    <span class="d-block mt-2">
                        Resource
                    </span>
                </p>
            </div>
        </div>



{{!-- current resources --}}
           
 {{#each resources}}
    
        <div class="col-md-6 col-xl-4 col-xxl-3">
            <div class="card card-body card-tile bg-light shadow-sm">
                <a href="/space/{{../idea.space_id}}/idea/{{../idea.id}}/resource/{{id}}" class="overlay-hover inner-down-hover bg-primary text-white shadow" style="--bs-bg-opacity: 0.85">
                    <span class="d-block px-4 py-3 fs-4 fw-bold text-center">
                        View Resource<br/>
                        <span class="fw-normal fs-5">{{name}}</span>
                    </span>
                </a>
           
                <p class="m-0 overlay-hover--hide inner-down-hover--also fs-4 d-block text-center">
                    <span class="badge fs-5 bg-primary">{{type}}</span>
                    <span class="d-block mt-2">
                        {{name}}
                    </span>
                    {{#if ../is_owner}}     
                    <div class="position-absolute bottom-0 start-50 translate-middle-x" style="z-index:100">
                     
                         <button
                            class='mb-3 btn btn-danger delete-resource'
                            value='{{id}}'
                            data-id='{{id}}'
                        >Delete</button>
                           
                        {{#unless (is_match type 'image')}}
                         <a href="/space/{{../idea.space_id}}/idea/{{../idea.id}}/resource/{{id}}">
                        <button
                            class='mb-3 btn btn-success text-decoration-none'
                        
                            value='{{id}}'
                            type="{{type}}"
                        >Edit</button> </a>
                        {{/unless}}
                        </div>
                    {{/if}}                    
                </p>
            </div>
        </div> 
        {{/each}}
    </div>
</div>


<div class="mt-4 bg-primary text-white"> 
    <h3 class="card-header justify-content-start">Comments</h3>
</div>

{{#each comments}}
<br>
{{> comment }}
{{/each}}
<br>

<div class="card">
    <div class="card-body">
        <form> 
            <div class="form-group">
                <div class="card-title">
                    <label for="addComment">Add a comment:</label>
                </div>
                <input type="text" class="form-control" id="addComment" placeholder="Add your thoughts to the conversation">
                <br>
                <button type="submit" id="form-add-comment" class="btn btn-primary" data-idea-id={{idea.id}}>Submit</button>
            </div>
        </form>
    </div>
</div>
{{!-- modal for inserting a resource --}}
{{> modals/resourceMini idea}}

{{#if can_join}}
    {{> modals/interest myInterest=idea.myInterest}}
{{/if}}


{{#if is_member}}
    {{> modals/interestedUsers interests=idea.interests is_owner=is_owner owner_id=idea.user_id}}
{{/if}}

<script src="/js/addComment.js"></script>
<script src = "/js/ideaUpvote.js"></script>
<script src = "/js/resource.js"></script>

{{!-- highlight.js for any code block formatting client-side --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>