
<div id="ideas" class="row g-3 align-items-center">
    <div class="col">
        <h3 class="fs-4 m-0">{{idea.name}}</h3>
    </div>
    <div class="col-auto">
        <button class='btn btn-primary'>Like</button>
    </div>
    <div class="col-auto">
        <button class='btn btn-secondary interest-{{is_interested idea.interested_users user_id}}' value="{{idea.id}}">{{idea.interested_users.length}} Interested</button>
    </div>
</div>

<br>
<br>
Creator: {{idea.user_id}}
<br>
Pitch: {{idea.pitch}}
<hr>
{{#each comments}}
<br>
{{> comment }}
<br>
{{/each}}

<div class="card">
    <div class="card-body">
        <form> 
            <div class="form-group">
                <div class="card-title">
                    <label for="addComment">Add a comment:</label>
                </div>
                <input type="text" class="form-control" id="addComment" placeholder="Add your thoughts to the conversation">
                <br>
                <button type="submit" id="form-add-comment" class="btn btn-primary" data-idea-id={{idea.id}}>Submit</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/addComment.js"></script>
<script src="/js/interest.js"></script>