<button
  type='submit'
  onclick="window.location.href='/space/{{space_id}}/idea/{{idea_id}}'"
  class='btn btn-primary mb-3'
> Back to idea</button>

{{! Current resource information }}

<div class='bg-primary text-white my-4'>
  <h3 class='card-header justify-content-start'>Resource for {{ideas.name}}</h3>
</div>

<div class='row gy-4'>
  <br />

  <div class='col-md-6 col-xl-4 col-xxl-3'>
    <div class='card card-body card-tile bg-light shadow-sm'>

      <div class='card-text m-2'>Type: {{ideas.resource.type}}</div>
      <div class='card-text m-2'>Name:
        {{ideas.resource.name}}
      </div>
      <div class='card-text m-2'>
        Content:
        {{ideas.resource.content}}
      </div>
    </div>
  </div>

</div>
<br />
<div class='row resource-form gy-4'>
  <div class='card'>
    <div class='card-body'>
      <form enctype='multipart/form-data'>
        <div class='form-group'>
          <div class='card-title'>
            <label for='addImages' class='fs-4 fw-bold mb-2'>Add images or docs</label>
          </div>

          <label for='image'><input
              class='form-control-file'
              type='file'
              name='image'
              id='image'
              multiple
            /></label>
          <br />
          <br />
          <button
            type='submit'
            id='upload-image'
            class='btn btn-primary'
          >Add</button>
        </div>
      </form>
    </div>
  </div>

  {{! Upload links }}
  <div class='card'>
    <div class='card-body'>
      <form enctype='multipart/form-data'>
        <div class='form-group'>
          <div class='card-title'>
            <label for='link' class='fs-4 fw-bold mb-2'>Add links</label>
          </div>

          <label for='link'><input
              class='form-control'
              type='link'
              name='link'
              multiple
              id='link'
            /></label>
          <br />
          <br />
          <button
            type='submit'
            id='upload-link'
            class='btn btn-primary'
          >Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='/js/resource.js'></script>