<button
  type='submit'
  onclick="window.location.href='/space/{{space_id}}/idea/{{idea_id}}'"
  class='btn btn-primary mb-3'
> Back to idea</button>

{{! Current resource information }}

<div class='bg-primary text-white my-4'>
  <h3 class='card-header justify-content-start'>Resource for {{ideas.name}}</h3>
</div>

<div class='row gy-4'>
  <br />

  <div class='col-md-6 col-xl-4 col-xxl-3'>
    <div class='card card-body card-tile bg-light shadow-sm'>

      <div class='card-text m-2'>Type: {{ideas.resources.type}}</div>
      <div class='card-text m-2'>Name:
        {{ideas.resources.name}}
      </div>
      <div class='card-text m-2'>
        Content:
        {{resources.content}}

      </div>
    </div>
  </div>



        <div class="col-md-6 col-xl-4 col-xxl-3">
            <div class="card card-body card-tile bg-light shadow-sm" data-bs-toggle="modal" data-bs-target="#resource-modal" >
                {{!-- <a href="/space/{{idea.space_id}}/idea/{{idea.id}}/resource/create"  --}}
                <a class="overlay-hover inner-down-hover bg-success text-white shadow"  style="--bs-bg-opacity: 0.85">
                    <span class="d-block px-4 py-3 fs-4 fw-bold text-center" >
                        <span>
                        Create a New<br/></span>
                        <span class="fw-normal fs-5">Resource</span>
                    </span>
                </a>
                {{!-- </a> --}}
                <p class="m-0 overlay-hover--hide inner-down-hover--also fs-4 d-block text-center" data-bs-toggle="modal" data-bs-target="#resource-modal" >
                    <span class="badge fs-5 bg-success bi-plus-circle"> Add New</span>
                    <span class="d-block mt-2">
                        Resource
                    </span>
                </p>
            </div>
        </div>

{{!-- modal for inserting a resource --}}
{{> modals/resourceMini}}

<script src='/js/resource.js'></script>