
<h3 class="space-id" data-id="{{space.id}}">{{space.name}}</h3>
<br>

{{#unless approvedInsterest}}
{{!-- add idea or hide section --}}
<h4 class="bi bi-plus-circle" style="color:#009ecc; cursor:pointer"><a class="text-decoration-none" style="color:#009ecc" href="/space/{{space.id}}/ideas"> Add idea</a></h4>
{{/unless}}

<br>
<div id="ideas">
{{#each space.ideas}}
  {{> ideaMini  logged_in_user_id=../user_id}}
{{/each}}
</div>
<script src="/js/interest.js"></script>
<script src ="/js/ideaUpvote.js"></script>
{{name}}
<div id="memberList" data-space-id={{space-id}}>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Members</h5>
    </div>
  </div>
  {{#each space.members}}
    {{> memberStatus }}
  {{/each}}
</div>
<script src="/js/memberList.js"></script>

